.container {
    padding: 0 1em;
}

.hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
}

.hero-image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-size: 2em;
    z-index: 2;
}