h1 {
    font-size: 1em;
}

.project-details {
    font-size: 12px;
}

.event-detail {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
}

.contact {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
}

.form-email button {
    margin: 1em auto;
}

.form-email h3 {
    margin-top: 0;
}

.footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
}

.social-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
}