.burger-button {
    display: block;
}

.header {
    display: block;
    height: auto;
}

.header ol {
    display: block;
}

.header ol li {
    height: 50px;
}

.header a {
    justify-content: center;
}

.header .logo {
    text-align: center;
}

.project {
    display: block;
}

.project-imageContainer {
    width: auto;
    text-align: center;
}

.project-details {
    width: auto;
    /* font-size: 16px; */
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.project-url {
    font-size: 1em;
}

.project-course {
    font-size: 0.7em;
}

.project-date {
    font-size: 1em;
}

.project-description {
    font-size: 0.8em;
}

.project-course, .project-date, .project-url {
    margin: 0.3em 0;
}

.event {
    width: auto;
    flex-shrink: initial;
}

.event img {
    width: 100%;
}